<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="pull-right" id="ant">
                <ul class="pager">
                    <li class="previous"><a href="#" onclick="location.href='@Url.Action("Index", "ComponentesClientesContratante")'" class="glyphicon glyphicon-arrow-left"></a></li>
                </ul>
            </div>
            <div class="panel-heading">Agregar Contratante</div>
            <div class="panel-body">

                <div class="col-md-8">
                    <div class="form-group">
                        <label>Nombre Comercial</label>
                        <input type="text" name="nombre" class="form-control" />
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <label>R.F.C</label>
                        <input type="text" name="rfc" class="form-control" />
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <label>Ciudad</label>
                        <input type="text" name="ciudad" class="form-control" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Direccion</label>
                        <input type="text" name="direccion" class="form-control" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Codigo Postal</label>
                        <input type="text" name="cp" class="form-control" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" name="telefono" class="form-control" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Tel. Oficina</label>
                        <input type="text" name="teloficina" class="form-control" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" name="celular" class="form-control" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="text" name="correo" class="form-control" />
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <label>Correo Adicional</label>
                        <input type="text" name="correoa" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="col-md-6">
                    <div class="text-right">
                        <button data-ajax="true" id="btnAgregar" type="submit" class="btn btn-primary">Agregar</button>
                        <button data-ajax="true" id="btnCancelar" type="submit" class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

</script>