<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="pull-right" id="ant">
                <ul class="pager">
                    <li class="previous"><a href="#" onclick="location.href='@Url.Action("Index", "AdminGrupos")'" class="glyphicon glyphicon-arrow-left"></a></li>
                </ul>
            </div>
            <div class="panel-heading">
                
                Agregar Grupo
            </div>
            <div class="panel-body">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Nombre del Grupo</label>
                        <input type="text" name="usuario" class="form-control" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Descripcion</label>
                        <div class="summernote"></div>
                    </div>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-6">
                    <div class="text-right">
                        <button data-ajax="true" id="btnAgregar" type="submit" class="btn btn-primary">Agregar</button>
                        <button data-ajax="true" id="btnCancelar" type="submit" class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('ready', function () {

        $('.summernote').summernote({
            height: 300,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
        });


    });
</script>



