


<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel panel-heading">Agregar Categoria</div>
            <div class="panel-body">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <label>Categoria</label>
                    <input type="text" name="categoria" class="form-control" placeholder="Ingrese la Categoria" />
                    <br />
                </div>
                <div class="col-md-5">
                    <label>Descripcion</label>
                    <input type="text" name="descripcion" class="form-control" placeholder="Ingrese una Descripcion" />
                </div>
                <br />
                <div class="text-right">
                    <button data-ajax="true" type="submit" class="btn btn-primary">
                        Agregar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="DivisorH"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="dvInfo" class="D-Container"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>


</script>