<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                   
            <div class="tab-content">
                <div class="col-md-10"></div>

                <input type="button" id="btnAgregar" class="btn btn-primary" value="Nuevo" onclick="location.href='@Url.Action("FormIndex", "ComponentesPolizasTipoDoc")'" />

                <div class="DivisorH"></div>
                <div id="home" class="tab-pane fade in active">


                </div>
                <div id="menu1" class="tab-pane fade">

                </div>
                <div id="menu2" class="tab-pane fade">

                </div>
                <div id="menu3" class="tab-pane fade">

                </div>

            </div>

        </div>

        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr>
                            <th>Tipo de Documentacion</th>
                            <th>Accion</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeX">
                            <td>Trident</td>
                            <td>
                                <button data-ajax="true" id="btnVer" type="submit" class="btn btn-primary">Ver</button>
                                <button data-ajax="true" id="btnEditar" type="submit" class="btn btn-primary">Editar </button>
                                <button data-ajax="true" id="btnEliminar" type="submit" class="btn btn-primary">Eliminar</button>
                            </td>
                      

                        </tr>
                        <tr class="gradeC">
                            <td>Trident</td>
                            <td>
                                <button data-ajax="true" id="btnVer" type="submit" class="btn btn-primary">Ver</button>
                                <button data-ajax="true" id="btnEditar" type="submit" class="btn btn-primary">Editar </button>
                                <button data-ajax="true" id="btnEliminar" type="submit" class="btn btn-primary">Eliminar</button>
                            </td>
                          

                        </tr>
                        <tr class="gradeA">
                            <td>Trident</td>
                            <td>
                                <button data-ajax="true" id="btnVer" type="submit" class="btn btn-primary">Ver</button>
                                <button data-ajax="true" id="btnEditar" type="submit" class="btn btn-primary">Editar </button>
                                <button data-ajax="true" id="btnEliminar" type="submit" class="btn btn-primary">Eliminar</button>
                            </td>
                            <td>Win 95+</td>
                      

                        </tr>
                        <tr class="gradeA">
                            <td>Trident</td>
                            <td>
                                <button data-ajax="true" id="btnVer" type="submit" class="btn btn-primary">Ver</button>
                                <button data-ajax="true" id="btnEditar" type="submit" class="btn btn-primary">Editar </button>
                                <button data-ajax="true" id="btnEliminar" type="submit" class="btn btn-primary">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $('.dataTables-example').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "js/copy_csv_xls_pdf.swf"
                }
            });

            /* Init DataTables */
            //var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            //oTable.$('td').editable( '../example_ajax.php', {
            //    "callback": function( sValue, y ) {
            //        var aPos = oTable.fnGetPosition( this );
            //        oTable.fnUpdate( sValue, aPos[0], aPos[1] );
            //    },
            //    "submitdata": function ( value, settings ) {
            //        return {
            //            "row_id": this.parentNode.getAttribute('id'),
            //            "column": oTable.fnGetPosition( this )[2]
            //        };
            //    },

            //    "width": "90%",
            //    "height": "100%"
            //} );


        });

        //function fnClickAddRow() {
        //    $('#editable').dataTable().fnAddData( [
        //        "Custom row",
        //        "New row",
        //        "New row",
        //        "New row",
        //        "New row" ] );

        //}
</script>

