
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="pull-right" id="ant">
                <ul class="pager">
                    <li class="previous"><a href="#" onclick="" class="glyphicon glyphicon-arrow-left"></a></li>
                </ul>
            </div>
            <div class="panel-heading">Agregar Titular</div>
            <div class="panel-body">

                <div class="col-md-8">
                    <div class="form-group">
                        <label>Contratante</label>
                        <input type="text" name="contratante" class="form-control" />
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" name="nombre" class="form-control" />
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input type="text" name="fechanacimiento" class="form-control" id="fecha" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Direccion</label>
                        <input type="text" name="direccion" class="form-control" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" class="form-control" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Email Adicional</label>
                        <input type="text" name="email" class="form-control" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" name="telefono" class="form-control" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" name="celular" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="col-md-6">
                    <div class="text-right">
                        <button data-ajax="true" id="btnAgregar" type="submit" class="btn btn-primary">Agregar</button>
                        <button data-ajax="true" id="btnCancelar" type="submit" class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>